.navbar {
  margin-bottom: 0;
  z-index: 9;
  width: 100%;
  position: relative;
  background-color: #444;
  font-size: 13px;
  overflow: visible;

  &-inner {
    width: 90%;
    margin: auto;
    padding: 5px;
    min-height: 40px;
  }

  &-container {
    width: 100%;
    min-width: 960px;
    margin: 0 auto;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
  }
  .logo {
    display: flex;
    align-items: center;
    /deep/ {
      .el-input__inner {
        background-color: #888;
        color: #666;
        border-radius: 15px;
        border-color: #888;
      }
      .el-input.is-active .el-input__inner,
      .el-input__inner:hover,
      .el-input__inner:focus {
        background-color: #fff;
        border-color: #fff;
        outline: 0;
      }
    }
  }
  .brand {
    box-sizing: content-box;
    display: block;
    margin-left: -20px;
    font-size: 20px;
    width: 120px;
    padding: 3px 20px;
    height: 34px;
    line-height: 34px;
    color: #ccc;
    font-weight: 700;

    img {
      vertical-align: initial;
    }
  }

  .nav {
    display: flex;
    margin: 0;
    // /deep/ {
    //   .el-menu-item,
    //   .el-submenu__title {
    //     height: 30px;
    //     line-height: 30px;
    //   }
    // }

    > li {
      > a {
        display: block;
        padding: 10px 15px;
        color: #ccc;
        text-decoration: none;
        &:focus,
        &:hover {
          color: #fff;
          text-decoration: none;
          background-color: transparent;
        }
      }
    }
  }
}
