.footer {
  position: relative;
  clear: both;
  background-color: #fff;
  &_main {
    width: 90%;
    max-width: 1400px;
    min-width: 960px;
    margin: 0 auto;
    color: #e2e2e2;
    padding: 20px 0;
    font-size: 13px;
    line-height: 2em;
  }
  a.dark,
  a.dark:active,
  a.dark:link,
  a.dark:visited {
    color: #666;
    text-decoration: none;
    overflow: hidden;
  }
  .col_fade {
    color: #ababab;

    p {
      line-height: 20px;
      vertical-align: bottom;
    }
  }
}
